@tailwind base;

/* Write your own custom base styles here */

html {
  scroll-behavior: smooth;
}

.bg-black {
  background: #242424;
}

.border-black {
  border-color: #242424;
}

.bg-primary {
  background: #660033;
}
@variants hover {
  .bg-primary {
    background-color: #660033;
  }
}

.bg-search {
  background: #414141;
}

.text-search {
  color: #999999;
}

.bg-lightGrey {
  background: #e3e3e3;
}

.bg-santosGrey {
  background: #c4c4c4;
}

.text-primary {
  color: #660033;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

.fancy-background {
  position: relative;
  z-index: 1;
}
.fancy-background::after {
  content: "";
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 6px solid #660033;
  top: -20px;
  left: -20px;
  position: absolute;
}

.categoriesBlock {
  background-color: #e3e3e3;
}
.categoriesBlock:hover {
  background-color: #414141;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.portableText p {
  @apply mb-3;
}
.portableText a {
  @apply text-primary;
  @apply underline;
}

.portableText h2 {
  @apply font-spectral;
  @apply font-bold;
  @apply text-2xl;
  @apply mb-4;
}

/* Slack fix */
* {
  min-height: 0;
  min-width: 0;
}

.product-slider-arrow-prev,
.product-slider-arrow-next {
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
}

.product-slider-arrow-prev {
  left: -25px;
}

.product-slider-arrow-next {
  right: -25px;
}
